body{
    background: #5b5b5b;
}
.col-form-label{
    font-weight: bold;
}
.title_txt{
    font-weight: bold;
    font-size: 2em;
}
.nav_register{
    font-size: 1em;
}
.display_from{
    margin-top: 60px;
    padding: 30px;
    background: white;
}
.card-footer{
    background: white;
    height: 200px;
    font-size: x-small;
    padding: 30px 50px;
    text-align: center;
}
.pic{
    position: absolute;
    left: 50%;
    width: 35%;
    height: 50%;
    overflow:hidden;
}
